.bottom-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo {
  flex: 0 0 50%;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

// Desktop breakpoint
@media screen and (min-width: $breakpoint-desktop) {
  .bottom-grid-container {
    flex-wrap: wrap;
  }
  .photo {
    flex: 0 0 25%;

    img {
      width: 100%;
      // height: auto;
      // display: block;
    }
  }
}
