.hero-container {
  display: flex;
  position: relative;
  width: 100vw;
  overflow: hidden;

  .hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
  text-align: center;
  color: white;

  h1 {
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    font-size: 2.3rem;
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: 0.4rem;
    margin-bottom: 15px;
  }

  .arrow-img {
    margin-top: 40px;
  }
}

// Desktop breakpoint
@media screen and (min-width: $breakpoint-tablet) {
}

// Desktop breakpoint
@media screen and (min-width: $breakpoint-desktop) {
  // .nav-content {
  //   margin-top: 20px;

  //   .logo {
  //     scale: 1.5;
  //     margin-left: 40px;
  //     margin-top: 10px;
  //   }

  //   .hamburger {
  //     display: none;
  //   }
  // }

  .overlay-content h1 {
    font-size: 3.5rem;
    margin-top: 100px;
  }
}
