.testimonials-container {
  // width: 100vw;

  .single-testimonial-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    .description {
      text-align: center;
      line-height: 1.8;
      width: 90vw;
      margin: 40px 0px 40px 0px;
      font-weight: 600;
    }
    .name-job-container {
      text-align: center;
      margin-bottom: 70px;
      .name {
        font-family: "Fraunces", serif;
        font-weight: 900;
        padding-bottom: 20px;
      }
    }
  }
}
