<div class="testimonials-container">
  <div class="testimonials-heading">
    <h3>Client testimonials</h3>
  </div>
  <!-- FIRST TESTIMONIAL - START -->
  <div class="single-testimonial-container">
    <div class="single-testimonial">
      <div class="testimonial-photo">
        <img src="/src/img/image-emily.jpg" alt="" />
      </div>
      <div class="description">
        <p>
          We put our trust in Sunnyside and they delivered, making sure our
          needs were met and deadlines were always hit.
        </p>
      </div>
      <div class="name-job-container">
        <div class="name">Emily R.</div>
        <div class="job">Marketing Director</div>
      </div>
    </div>
    <!-- FIRST TESTIMONIAL - END -->
    <!-- SECOND TESTIMONIAL - START -->
    <div class="single-testimonial">
      <div class="testimonial-photo">
        <img src="/src/img/image-thomas.jpg" alt="" />
      </div>
      <div class="description">
        <p>
          Sunnyside<span>&#8217</span>s enthusiasm coupled with their keen interest in our brand<span>&#8217</span>s
          success made it a satisfying and enjoyable experience.
        </p>
      </div>
      <div class="name-job-container">
        <div class="name">Thomas S.</div>
        <div class="job">Chief Operating Officer</div>
      </div>
    </div>
    <!-- SECOND TESTIMONIAL - END -->
    <!-- THIRD TESTIMONIAL - START -->
    <div class="single-testimonial">
      <div class="testimonial-photo">
        <img src="/src/img/image-jennie.jpg" alt="" />
      </div>
      <div class="description">
        <p>
          Incredible end result! Our sales increased over 400% when we worked
          with Sunnyside. Highly recommended!
        </p>
      </div>
      <div class="name-job-container">
        <div class="name">Jennie F.</div>
        <div class="job">Business Owner</div>
      </div>
    </div>
    <!-- THIRD TESTIMONIAL - END -->
  </div>
</div>
