<article class="top-grid-container">
  <!-- ITEM 1 - START -->
  <article class="item-top-grid item-1">
    <img
      loading="lazy"
      srcset="
        /src/img/mobile/image-transform.jpg  1024w,
        /src/img/desktop/image-transform.jpg 2880w
      "
      src="/src/img/desktop/image-transform.jpg"
      alt="egg"
    />
  </article>

  <!-- ITEM 1 - END -->
  <!-- ITEM 2 - START -->
  <article class="item-top-grid item-2">
    <div class="titles">
      <h2>Transform your brand</h2>
      <p>
        We are a full-service creative agency specializing in helping brands
        grow fast. Engage your clients through compelling visuals that do most
        of the marketing for you.
      </p>
      <div class="link item-2">
        <a href="">Learn more</a>
        <!-- <a href="">Learn more <span class="underline item-2"></span></a> -->
      </div>
    </div>
  </article>
  <!-- ITEM 2 - END -->
  <!-- ITEM 3 - START -->
  <article class="item-top-grid item-3">
    <img
      loading="lazy"
      srcset="
        /src/img/mobile/image-stand-out.jpg  1024w,
        /src/img/desktop/image-stand-out.jpg 2880w
      "
      src="/src/img/desktop/image-stand-out.jpg"
      alt="glass"
    />
  </article>
  <!-- ITEM 3 - END -->
  <!-- ITEM 4 - START -->
  <article class="item-top-grid item-4">
    <div class="titles">
      <h2>Stand out to the right audience</h2>
      <p>
        Using a collaborative formula of designers, researchers, photographers,
        videographers, and copywriters, we<span>&#39;</span>ll build and extend
        your brand in digital places.
      </p>
      <div class="link item-4">
        <a href="">Learn more </a>
      </div>
    </div>
  </article>
  <!-- ITEM 4 - END -->
  <!-- ITEM 5 - START -->
  <article class="item-top-grid item-5">
    <img
      loading="lazy"
      srcset="
        /src/img/mobile/image-graphic-design.jpg  1024w,
        /src/img/desktop/image-graphic-design.jpg 2880w
      "
      src="/src/img/desktop/image-graphic-design.jpg"
      alt="cherry"
    />

    <div class="img-titles graphic-design">
      <h2>Graphic design</h2>
      <p>
        Great design makes you memorable. We deliver artwork that underscores
        your brand message and captures potential clients<span>&#39;</span>
        attention.
      </p>
    </div>
  </article>
  <!-- ITEM 5 - END -->
  <!-- ITEM 6 - START -->
  <article class="item-top-grid item-6">
    <img
      loading="lazy"
      srcset="
        /src/img/mobile/image-photography.jpg  1024w,
        /src/img/desktop/image-photography.jpg 2880w
      "
      src="/src/img/desktop/image-photography.jpg"
      alt="orange"
    />

    <div class="img-titles photography">
      <h2>Photography</h2>
      <p>
        Increase your credibility by getting the most stunning, high-quality
        photos that improve your business image.
      </p>
    </div>
  </article>
  <!-- ITEM 6 - END -->
</article>
